body, html {
height: 100%;
overflow: hidden;
}
body {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/1405833/pexels-photo-1405833.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.joke-text { 
opacity: 1.0;
font-size: 30px;
color: white;
}
.like-text{
    opacity: 1.0;
    font-size: 16px;
    color: white;
}
#text-block {
    background: rgba(0,0,0, 0.3); /* Blue background with 30% opacity */
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items:center;*/
}

.like-number{
    font-size: 15px;
    color: green;
    font-weight: bold;

}

.top-buffer{margin-top: 10px;}

.side-buffers{margin-right: 2%;margin-left: 2%;}
.left_buffer{margin-left: 2%;}
.right_buffer{margin-right: 2%;}
