{% extends 'base.html'%}
{% load humanize %}
{% load crispy_forms_tags %}



{% block content %}
{% load static %}


<div class="container-fluid top-buffer">

	<div class ="row">

   

		<form method="post" id="payment-form">
			{% csrf_token %}
			<p> Select your bank: </p>
			<select name="issuer">'
		  	{% for issuer in issuers %}
                <option value="{{issuer.id}}">{{issuer.name}}</option>
            {% endfor %}
            <option value=""></select>
            <button>OK</button>
		</form>
	</div>
    <div class ="row"
    	<p> Not a Dad yet? Become one <a href="/register">now!</p>
  </div> 
</div>
{% endblock %}

