{% extends 'base.html'%}
{% load humanize %}
{% load crispy_forms_tags %}



{% block content %}
{% load static %}


<div class="container-fluid pl-4  bg-secondary rounded top-buffer text-light">
	<div class = "row pt-3">
		<div class = "col-3">
			<img src="https://www.ideal.nl/img/statisch/mobiel/iDEAL_1024x1024.gif"style="width:128px;height:128px;"  alt="W3Schools.com">
		</div>	
	</div>
	<div class ="row ">


		<form method="post" id="payment-form">
			{% csrf_token %}
			<p> Selecteer je bank:</p>
			<select name="issuer" class = "justselect">
				{% for issuer in issuers %}
				{% if forloop.first %}
				<option selected="selected" value="{{issuer.id}}">{{issuer.name}}</option>
				{% else %}
				<option value="{{issuer.id}}">{{issuer.name}}</option>
				{% endif %}	
				{% endfor %}
				<option value=""></select>
			<div class = "pt-2 "><button class ="btn btn-light" >Betaal</button></div>
		</form>
	</div>
	<div class ="row pb-2 pt-2"
		<p> Not a Dad yet? Become one </p><div class = "divider"></div> <a href="/register"> now!</a>
	</div> 
</div>
{% endblock %}

