{% extends 'base.html'%}
{% load humanize %}
{% load crispy_forms_tags %}
{% block home_content %}
{% load static %}

  <!-- Maak bootstrap container -->

  <div class="container-fluid top-buffer side-buffers ">
    <!-- 25% can scherm leeg -->
    <div class="row container">
      <div class="row" >

        {# Onl large screens 10/12 width on smaller screen entire row #}
        <div class="col-md-10 col-xs-12" id="text-block" >
          <div class = "row">
            <p class="joke-text">{{joke}}{% if author and author.strip %}-{{author}}{% else %}{% endif %}</p>
          </div>  
          <div class="row float-right">
            <div class="col auto">
              <p class="like-number" > 
                {{likes}} Likes! 
              </p>
            </div>
          </div>
        </div>

        {# THis collumn contains the rows with the like button and either 'Hi user' or login & registration buttons#}
        {# on large screen this will be two columns on small screens it becomes an entire row #}
        <div class="col-md-2 col-xs-12 float-right">
          {# login and register #}
        	{% if user.is_authenticated %}
          {# d-none d-md-block hides it when smaller than md #}
             <div class="row-fluid d-none d-md-block">
                
        		    <p class="text-center" style="color: white">Hi {{user.username}}!</p>
              </div>
        	{% else %} 
            {# <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalAuthenticationForm">Login</a> #}
              <div class ="row-fluid">
               <a href="/login" class="btn btn-primary btn-block" title="Which Dad are you?">Log in</a>
              </div>
              <div class = "row-fluid" style="margin-top: 2%; margin-bottom: 2%">
                 <a href="/register" class="btn btn-primary btn-block" title="Join the Dad Army!">Become Dad</a>
              </div>
            
          {% endif %}
          {# <div class="col-md-2 col-xs-12" id="button-col"> #}
            <div class ="row-fluid">
               {% if user.is_anonymous %}
                  <button type="submit" class="btn btn-outline-success btn-block" title="Be a Dad to like!" onClick="becomeDad()"> Like! </button>  

              {% elif likedJoke %}
                  <button class="btn btn-success btn-block" title="Be a Dad to like!"> Liked </button>
              {% else %}
                <form method="POST" action="/liked">
                {% csrf_token %}
                  <button type="submit" class="btn btn-outline-success btn-block" title="Be a Dad to like!"> Like! </button>
               </form>
              
              {% endif %}
          </div>
        </div> 
      </div>
    </div>
  </div>
    

    <div class="container-fluid scrollable smooth-scroll" id="style-1" style="margin-top: 2%">
      <div class="row">
        <div class="col-md-12 col-xs-12 " >
          <div class="comments" >
            <div class="comment-box add-comment">

              	{% if user.is_authenticated %}
		             
		              <img class = "commenter-pic img-fluid" src="{% static profile_pic %}" alt="Anonymous Dad">
		              <span style="vertical-align: middle;"> <a href="" class="username">{{user.username}}</a> </span>

	                <form method="POST" action="/comment">
	                  {% csrf_token %}
	                  <input id="commentText" type="text" placeholder="Add a public comment" name="Add Comment">
	                  <button type="submit" class="btn btn-primary" onClick="return emptyCheck()" title="You really should">Comment</button>
	                </form>
	                
	            {% else %}

	            	
		                <img class = "commenter-pic img-fluid" src="{% static profile_pic %}" alt="Anonymous Dad">
                    <span style="vertical-align: middle;"> <a href="" class="username">Anonymous Dad</a> </span>

	                  <input id="commentText" type="text" placeholder="Only Dads can comment" name="Add Comment">
	                  <button type="submit" class="btn btn-primary" onClick="becomeDad()" title="You really should">Comment</button>
	            {% endif %}

            </div>


            {% for comment in comments %}
              <div class="comment-box" id = "comment-box">
                <span class="commenter-pic">


                  {% with "joke/img/"|add:comment.pic_id|add:".jpeg" as image_static %}
                  <img class = "commenter-pic img-fluid" src="{% static image_static %}">
                  {% endwith %}
                </span>
                <span class="commenter-name">
                  <a href="">{{comment.user.username}}</a><span class="comment-time">{{comment.datetime|timesince}} ago</span>
                </span>
                <p class="comment-txt more">{{comment.text}}</p>                    
              </div>
            {% endfor %}


          </div>
        </div>
      </div>
    </div>
  </div>

{# Checks if comment text input  is empty yes or no#}
  <script type="text/javascript">
  function emptyCheck() {
    var commentText;
    commentText = document.getElementById("commentText").value;
    if (commentText == "") {
        alert("Enter a comment!");
        return false;
    };
	}
  function becomeDad(){alert("You ain't no dad!");}
    

	</script>

{% endblock %}
