{% extends 'base.html'%}
{% load humanize %}
{% load crispy_forms_tags %}
{% block home_content %}
{% load static %}

  <!-- Maak bootstrap container -->
  <div class="container-fluid top-buffer side-buffers">
    <!-- 25% can scherm leeg -->
    <div class="row container">
      <div class="row" >
        <div class="col-md-10 col-xs-12" >
          <p id="text-block" class="joke-text">{{joke}}</p>
        </div>
        {# login and register #}
      	{% if user.is_authenticated %}
           <div class="col-md-2 d-none d-md-block">
      		    <p class="text-center" style="color: white">Hi {{user.username}}!</p>
          </div>  
      	{% else %}
         <div class="col-md-2 col-xs-12">
          {# <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalAuthenticationForm">Login</a> #}
            <div class ="row-fluid">
             <a href="/login" class="btn btn-primary btn-block">Log in</a>
            </div>
            <div class = "row-fluid" style="margin-top: 2%">
               <a href="/register" class="btn btn-primary btn-block">Register</a>
            </div>
          </div>
        {% endif %}

      <div class="col-md-8 d-none d-sm-block"></div>

      <div class="col-md-2 col-xs-12 pull-right">
        <p class="like-text text-center">{{likes}} Likes</p>
      </div>

      <div class="col-md-2 col-xs-12 pull-right" id="button-col">

        {% if likedJoke %}
            <button class="btn btn-success btn-block"> Liked :) </button>
        {% else %}
          <form method="POST" action="/liked">
          {% csrf_token %}
            <button type="submit" class="btn btn-outline-success btn-block"> Like! </button>
         </form>
        
        {% endif %}
      </div>

      </div>

      
    </div>
    </div>
    

    <div class="container side-buffers scrollable" style="margin-top: 2%">
      <div class="row">
        <div class="col-md-12 col-xs-12 " >
          <div class="comments" >
            <div class="comment-box add-comment">

              	{% if user.is_authenticated %}
		             <span class="commenter-pic">
		                <img src="{% static "joke/img/anonymous_dad.jpeg" %}" alt="Anonymous Dad" class="img-fluid">
		              </span>		              	
		              
	                <form method="POST" action="/comment">
	                  {% csrf_token %}
	                  <input id="commentText" type="text" placeholder="Add a public comment" name="Add Comment">
	                  <button type="submit" class="btn btn-primary" onClick="return emptyCheck()">Comment</button>
	                </form>
	                
	            {% else %}

	            	<span class="commenter-pic">
		                <img src="{% static "joke/img/anonymous_dad.jpeg" %}" alt="Anonymous Dad" class="img-fluid">
		              </span>		              	
		              
	                  <input id="commentText" type="text" placeholder="Only Dads can comment" name="Add Comment">
	                  <button type="submit" class="btn btn-primary" onClick="notADad()">Comment</button>
	            {% endif %}

            </div>


            {% for comment in comments %}
              <div class="comment-box">
                <span class="commenter-pic">
                  <img src="{% static "joke/img/anonymous_dad.jpeg" %}" class="img-fluid">
                </span>
                <span class="commenter-name">
                  <a href="">{{comment.user.username}}</a><span class="comment-time">{{comment.datetime|timesince}} ago</span>
                </span>
                <p class="comment-txt more">{{comment.text}}</p>                    
              </div>
            {% endfor %}


          </div>
        </div>
      </div>
    </div>
  </div>

{# Checks if comment text input  is empty yes or no#}
  <script type="text/javascript">
  function emptyCheck() {
    var commentText;
    commentText = document.getElementById("commentText").value;
    if (commentText == "") {
        alert("Enter a comment!");
        return false;
    };
	}
  function notADad(){alert("You ain't no dad!");}

  
	</script>

{% endblock %}
